fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic-settings
sqlalchemy
psycopg[binary]
passlib[bcrypt]
bcrypt>=4.1.0
python-jose[cryptography]
google-auth
requests
email-validator
mediapipe
opencv-python
numpy
scikit-learn
